* text=auto eol=lf

*.blade.php diff=html
*.css diff=css
*.html diff=html
*.md diff=markdown
*.php diff=php

*.php text eol=lf
*.blade.php text eol=lf
*.js text eol=lf
*.css text eol=lf
*.html text eol=lf


/.github export-ignore
CHANGELOG.md export-ignore
.styleci.yml export-ignore
